* {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  color: rgba(0,0,0,.87);
}

body{
  font-size: 14px;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.center {
  text-align: center;
}

.error-message {
  color: #ce1126;
}